
@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="text-center mb-5">!!! Yönetici Panele Hoş Geldiniz !!!</h1>
</div>

